extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1=Project_name

        p=Description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in technologies
            li=technology

        a.btn-link(href=Live target="_blank") Live Demo
        a.btn-link(href=GitHub target="_blank") GitHub Repo

    .project-img-box.box

      each ProjectImg in ProjectImgs
        img.project-img(src= ProjectImg, alt='1')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
